
.mainTextColor {
    color: #F4F5F3;
}

.secundaryTextColor {
    color: #bf1b29d6;
}

.colorButton {
    background-color: #BF1B28;
}

.secundaryPageColor {
    background-color: #0D0D0D;
}

.terciaryPageColor {
    background-color: #1d1d1d84;
}

.shadowCards {
    box-shadow: 1px 1px 10px #f4f5f333;
}

.hoverText:hover {
    color: #bf1b29d6;
}

.width {
    width: auto;
}

.height {
    height: auto;
}